.currency-list {
	background-color: lightgray;
	width: 200px;
	padding: 20px;
}

.currency {
	display: flex;
	justify-content: space-between;
	margin: 5px 0;
	border: 1px solid black;
	padding: 5px;
}

